<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blood Donation System</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  
  <div class="card">
    <div id="midSection">
      <div class="container">
      <div style="display: flex; ">
        <a class="nav-home" href="/"><img src="../static/logo.jpg" height="70"></a>
        <h4>Blood has already received!!</h4>
      </div>
      <p style="font-size: 12px;">"Thank you so much for your willingness to donate blood! While we've already had someone donate, your offer means a lot to us. Your generosity is truly appreciated, and we encourage you to consider donating in the future. Your contribution could make a real difference in saving lives. We'll be sure to keep you updated on future donation opportunities. Thank you again for your kindness and support!"</p>
        
      </div>
    </div>
  </div>
    
</body>
</html>